/* Reset default styles */
body {
  margin: 0;
  padding: 0;
}

/* Center the card in the middle of the page */
.centered-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Card styles */
.card {
  background-color: #f2f2f2;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 80%; /* Limit the card width for readability */
  text-align: center;
}

/* Hide the verse and card until it's loaded */
.hidden {
  display: none;
}

/* Arabic font style for the verse */
#verse {
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  font-family: 'Noto Sans Bengali', sans-serif;
  direction: rtl; /* Right-to-left text direction for Arabic */
}

#indoPakTranslation {
  font-size: 30px;
  font-style: italic;
  font-family: 'Noto Naskh Arabic', serif;
  color: #555;
}

/* Loading effect */
.loading {
  font-size: 18px;
  color: #777;
  display: block;
}

/* Loading animation */
.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
